@section scripts{
    @Scripts.Render("~/bundles/emp")
}

<div class="page-header">
    <h1>Employees</h1>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Employees</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: employees">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>
                        <span data-bind="text: Position"></span>
                        <small><a href="#" data-bind="click: $parent.getEmployeeDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Employee Name</td>
                    <td data-bind="text: detail().Name"></td>
                </tr>
                <tr>
                    <td>Employee Position</td>
                    <td data-bind="text: detail().Position"></td>
                </tr>

            </table>
        </div>
    </div>

    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Employee</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addEmployee">
                    <div class="form-group" data-bind="with: newEmployee">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>
                        <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPosition" data-bind="value:Position" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>